/*
 * Tablet Queries
 */

@media only screen and (min-width: 1080px) and (max-width: 1300px) {

	section article {
		width: calc(100% - 250px);
		padding: 10px;
	}

	nav div.banner div.preview {
		position: relative;
		margin: auto;
	}

}

/*
 * Mobile Queries
 */

@media only screen and (max-width: 1080px) { 

	nav {
		max-height: 0;
		overflow: hidden;

	}

	section {
		padding: 0;
	}

	section menu {
		display: none;
	}

	section article {
		width: calc(100% - 10px);
		padding: 5px;
		display: block;
		margin: auto;
		float: none;
		border: none;
		border-radius: 0;
	}

	footer {
		margin-top: 0;
	}

	div.mobile-nav {
		display: block;
	}

	footer div.social {
		max-width: 100%;
		display: block;
		min-width: 100%;
		padding-right: 0;
	}

	footer ul {
		min-width: 0;
	}

}
